{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% load group_filters %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Весь Мир Един</title>
    <link type="text/css"  href="{% static 'main/css/styles_base.css'%}" rel="stylesheet">
    <!-- Блок для доп. стилей из дочерних шаблонов -->
    {% block profile_css %}{% endblock %}
    {% block news_css %}{% endblock %}
    {% block news_post_css %}{% endblock %}
    {% block events_css %}{% endblock %}
    {% block main_css %}{% endblock %}
    
    
</head>
<body>
    
    <!-- Верхняя панель -->
    <nav class="navbar">
        <div class="logo-container">
            <span class="logo">Весь Мир Един</span>
            <ul class="nav-links">
            {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'news:news' %}">Новости</a></li>
                <li><a href="{% url 'events:events' %}">Мероприятия</a></li>
                {% if user|has_group:"Администратор"  or user|has_group:"Руководитель" or user.is_superuser %}
                    <li><a href="{% url 'users:register' %}">Добавление пользователя</a></li>
                {% endif %}
            {% endif %}
            </ul>
        </div>
        <div class="user-actions">  <!-- Добавлен новый контейнер -->
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}" class="login-btn">Линчный кабинет</a>
                <a href="{% url 'users:logout' %}" class="login-btn">Выход</a>
            {% else %}
                <a href="{% url 'users:login' %}" class="login-btn">Войти</a>
            {% endif %}
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}

</body>
</html>